html
ui/node_modules

# Logs
ui/logs
ui/*.log
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/pnpm-debug.log*
ui/lerna-debug.log*

ui/node_modules
ui/.DS_Store
ui/dist
ui/dist-ssr
ui/coverage
ui/*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
ui/.vscode/*
ui/!.vscode/extensions.json
ui/.idea
ui/*.suo
ui/*.ntvs*
ui/*.njsproj
ui/*.sln
ui/*.sw?
ui/.yarn-installed